  body{
  	background: rgb(140,150,200);
  }

   strong {
   	   color:  rgb(54,228,244);
   }

   p {
   	font-size: 45px;
   	text-align: center;
   	color: rgb(18, 44, 255);
   }
    ul {
    font-size: 25px  
    color: #10009B
 }

  h2 {
    font-size: 35px;
    color: #CE0B0B
  }